/**
 * Custom theme for reveal.js
 *
 */
 
 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,300italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Righteous&display=swap);

/*********************************************
* GLOBAL STYLES
*********************************************/
body {
    background: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%);
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: .5rem;
    line-height: 1.25em;
    color:black;
}

a {
    color: #009981;
    text-decoration: none;
    font-size: 2.5rem;
}

.slides section {
    top: .2em !important;
}

.first {
    font-size: 8rem;
    line-height: 1.5em;
    margin-top: 10%;

    .title-wrapper {
        display: inline-flex;
        justify-content: center;
        padding: 0 2rem;
    }
}

.topic {
    font-size: 6rem;
}

.topic.img.outlive .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/retro-flying-car.jpg);
    background-position: center top;
}

.topic.img.requirements .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/baking.jpeg);
    background-position: center bottom;
}

.topic.img.crystal-ball .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/crystal-ball.jpg);
    background-position: center center;
}

.topic.img.to-sir .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/to-sir-with-love.jpg);
    background-position: center center;
}

.topic.img.lucille .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/lucille.png);
    background-position: center center;
}

.img.universe .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/universe.jpg);
    background-position: center bottom;
}

.img.buddha .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/buddha.jpg);
    background-position: center top;
}

.img.karate-kid .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/karate-kid.jpg);
    background-position: center top;
}

.img.avasarala .slide-background-content {
    background-image: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%), url(../../../images/avasarala.gif);
    background-position: center bottom;
}

.title-wrapper {
    display: flex;
    justify-content: flex-start;
}

.title {
    background: #FFD0AE;
    font-family: 'Righteous', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    transform: rotate(-4deg) skew(-5deg);
    padding: 0 .75rem;
}

.subtitle {
    background: #FFD0AE;
    font-size: 4.5rem;
    font-style: italic;
    text-align: left;
    margin-bottom: 56px;
    transform: rotate(0deg) skew(0deg);
    padding: 0 .5rem;
}

.content {
    padding-top: 4.5rem;
    font-size: 3.5rem;
    
    p {
        padding: 2rem 0;
    }
}

.content.single {
    margin-top: 3rem;
}

ul {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    li {
        text-align: left;
        padding: 2rem 0;
        font-size: 3.5rem;

        .green {
            color: #009981;
        }

        .red {
            color: #db145d;
        }
    }
}

.links {
    display: inline-flex;
    flex-direction: column;
    margin-top: 4rem;
    text-align: left;
    line-height: .5em;

    a {
        padding: 1rem 4rem;
    }
}

.category {
    background: #009981;
    display: inline-block;
    padding: 0 1rem;
    color: white;
    font-family: 'Righteous', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 4rem;
    margin-top: 3rem;
}

.category.pause {
    margin-top: 20%;
}

.replace.fragment {
	opacity: 0;
    display: none;
}

.replace.fragment.current-fragment {
	opacity: 1;
    display: inline; 
}

.no-2 {
    font-size: 5rem;
}

.no-3 {
    font-size: 6.5rem;
}

.bad {
    color: #db145d;
}

.good {
    color: #009981;
}

body:after {
    content: url(../../../images/gabi_dombrowski_urlQR.png);
    position: fixed;
    bottom: .25em;
    right: 1em;
    z-index: 100;
}

body:before {
    content: "@gabdom | License: CC BY-SA 4.0";
    position: fixed;
    font-size: .4em;
    bottom: 1em;
    left: 1em;
    z-index: 100;
}